### PPRIATE DO NOT DELETE ###
.env

# dependency packages
**/node_modules

# Test  artifacts
**/coverage
**/test-results/
**/playwright-report/
**/playwright/.cache/

# Yarn
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions
yarn-error.log

## Apple Junk ##
**/.DS_Store

