name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  test-pr:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: |
          bun install
          bunx playwright install chromium --with-deps
      - name: Run check
        run: |
          bun run check
      - name: Run test
        run: |
          bun run test
      # TODO this will be implemented later
      # - name: Run playwright test
      #   run: |
      #     bun run test:playwright
      # - uses: actions/upload-artifact@v4
      #   if: ${{ !cancelled() }}
      #   with:
      #     name: playwright-report
      #     path: playwright-report/
      #     retention-days: 30
