name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-pr:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: |
          bun install
          bunx playwright install chromium --with-deps
      - name: Run type check
        run: |
          bun run check
      - name: Run Lint
        run: |
          bun run lint
      - name: Run tests
        run: |
          bun run test
